@model MVC_Dashboard_Northwind.Models.Product
@{
 
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="card-header">
            <a class="btn btn-warning float-end ms-3" href="/product/index">Product</a>
            Product Add
        </div>


        <div class="card-body">

            @using (Html.BeginForm("AddProduct", "Product", FormMethod.Post))
            {
                <div>
                    <label>ProductID</label>
                    @Html.TextBoxFor(x => x.ProductID, new{@class="form-control"})
                </div>
                <br />
                <div>
                    <label>ProductName</label>
                    @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
                </div>
                <br />
                <div>
                    <label>Supplier</label>
                    @Html.TextBoxFor(x => x.Supplier, new { @class = "form-control" })
                </div>
                <br />
                <div>
                    <label>CategoryName</label>
                    @Html.TextBoxFor(x => x.Category.CategoryName, new { @class = "form-control" })
                </div>
                <br />
                <div>
                    <label>ProductID</label>
                    @Html.TextBoxFor(x => x.UnitPrice, new { @class = "form-control" })
                </div>
                <br />
                <div>
                    <label>UnitsInStock</label>
                    @Html.TextBoxFor(x => x.UnitsInStock, new { @class = "form-control" })
                </div>

                <br />

                <button type="submit">Add Product</button>
            }
        </div>
    </div>

</div>
